@font-face {
    font-family: "NunitoSants-Regular";
    src: url(../Fuentes/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: "NunitoSans-Bold";
    src: url(../Fuentes/NunitoSans-Bold.ttf);
}