<aside>
    <div class="widget">
        <h3>Iniciar sesión</h3>

        <form action="">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Entrar">
        </form>
    </div>
    <div class="widget">
        <h3>Últimas entradas</h3>
        <ul>
            <li><a href="#">Cómo hacer un DDos</a></li>
            <li><a href="#">MiniPracticas y MiniExamenes</a></li>
            <li><a href="#">¿2h de PHP a la semana son suficientes?</a></li>
            <li><a href="#">Masterchef VS FIFA</a></li>
            <li><a href="#">Los reyes de PHP, Adrian y compañia</a></li>
        </ul>
    </div>
    <div class="widget">
        <h3>Frase del día</h3>
        <blockquote>
            La mejor manera de ser un programador es escribir código y estudiar grandes programas que otra gente ha escrito
        </blockquote>
    </div>
</aside>