<section id="content">

    <h1>Últimas noticias</h1>

    <article>
        <h2> Lorem Ipsum </h2>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <a href="#">Ver más</a>
    </article>
    <article>
        <h2> Lorem Ipsum </h2>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <a href="#">Ver más</a>
    </article>
    <article>
        <h2> Lorem Ipsum </h2>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <a href="#">Ver más</a>
    </article>
    <article>
        <h2> Lorem Ipsum </h2>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <a href="#">Ver más</a>
    </article>

    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">7</a></li>
    </ul>

</section>